# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.out
client
test

# vim swapfiles
.*.swp
.*.swo

# working files
*.state

